:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: auto;
  align-self: center;
  margin-bottom: 4rem;
}
.start {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color-light--2);
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}
.start.hidden {
  display: none;
}

.workouts {
  position: relative;
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-width: 0px 5px;
  border-style: solid;
  border-color: var(--color-brand--2);
}
.workout--cycling {
  border-width: 0px 5px;
  border-style: solid;
  border-color: var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column-end: span 3;
}

.workout__head {
  grid-column: auto;
  margin: auto;
}
.workout__head.hidden {
  visibility: hidden;
}

.workout__details {
  display: flex;
  align-items: baseline;
  margin: auto;
}

.workout__icon {
  font-family: 'Segoe UI Emoji';
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

/* edit form style */

.workout.edit {
  transform: translateX(100%);
}
.editForm {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  border-left: 5px solid red;
  border-right: 5px solid red;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.editForm.animated {
  transform: translateX(0);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  border-left: 5px solid var(--color-light--1);
  border-right: 5px solid var(--color-light--1);

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.3s, transform translateX(-106%);
}

.form.hidden,
.editForm.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.5s, transform 1ms;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.copyright-link:link,
.copyright-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.copyright-link:hover,
.copyright-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-brand--1);
}

/* TOP MENU FOR DELETING, SORTING AND SHOWING ALL WORKOUTS */
.menu {
  background-color: var(--color-dark--2);
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-light--1);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  border-left: 5px solid var(--color-light--1);
  border-right: 5px solid var(--color-light--1);
  /* box-shadow: 0rem 0rem 1rem 0.5rem #42474d; */
}

.menu.hidden {
  display: none;
}

.menu .menu__options {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu .menu__link:link,
.menu .menu__link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.menu .menu__link:hover,
.menu .menu__link:active {
  color: var(--color-light--2);
}

.menu .menu__link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.menu .menu__link.active {
  color: var(--color-brand--2);
  font-weight: 600;
}

.menu .menu__link .menu__icon {
  fill: var(--color-light--2);
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: all 0.2s;
}

.menu .menu__link:hover .menu__icon {
  fill: var(--color-light--1);
}

.menu .menu__link.active .menu__icon {
  fill: var(--color-brand--2);
}

.menu__option--sort {
  position: relative;
}

.menu__menu-sort {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  background-color: #fff;
  border-radius: 0.5rem;
  min-width: 18rem;
  padding: 0.5rem 0;
  z-index: 1000;
  box-shadow: 0rem 1rem 1rem -0.5rem rgba(0 0 0 / 50%);
}

.menu__menu-sort--hidden {
  display: none;
}

.menu__menu-sort-options {
  list-style: none;
}

.menu__menu-sort-option:link,
.menu__menu-sort-option:visited {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-dark--2);
  font-weight: 500;
  transition: all 0.2s;
}

.menu__menu-sort-option:hover,
.menu__menu-sort-option:active {
  color: var(--color-light--1);
}

.menu__menu-sort-icon {
  fill: var(--color-dark--2);
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: all 0.2s;
  vertical-align: sub;
}

.menu__menu-sort-option:hover .menu__menu-sort-icon {
  fill: var(--color-light--1);
}

.delete-confirmation {
  padding: 2rem;
  background-color: var(--color-dark--2);
  border-radius: 0.5rem;
  border-left: 0.7rem solid var(--color-error);
  text-align: center;
  transition: all 0.3s, transform 1ms;
  height: 10rem;
}

.delete-confirmation.delete-confirmation--hidden {
  opacity: 0;
  height: 0;
  transform: translateY(-100rem);
  padding: 0 2rem;
  margin: 0 !important;
}

.delete-confirmation__title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.delete-confirmation__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.delete-confirmation__btn {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--color-light--3);
  border-radius: 0.5rem;
  background-color: #fff;
  color: var(--color-dark--2);
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.delete-confirmation__btn:hover {
  opacity: 0.7;
}

.delete-confirmation__btn-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.3rem;
}

.delete-confirmation__btn-icon--yes {
  fill: var(--color-ok);
}

.delete-confirmation__btn-icon--no {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-error);
}
